<div ng-include=" 'views/modals/conditions.html' "></div>

<div class="alert alert-success" ng-show="isRegistered">
    <strong>Registrazione eseguita!</strong> Effettua <a href="#/login">login</a>
</div>

<div class="alert alert-danger" ng-repeat="e in errors">
    <strong>Errore nel campo {{ e.param }}</strong>:
    {{ e.message }}
</div>

<div class="panel panel-default" ng-hide="isRegistered">
    <div class="panel-heading">
        <h4>Registrazione</h4>
        <span class="help-block">
            (*) Tutti i campi sono obbligatori
        </span>
    </div>

    <div class="panel-body">

        <form class="form-horizontal" name="regForm" ng-submit="mySubmit()">

            <!-- Select destination server -->
            <div class="form-group">
                <label for="destinationServer" class="col-sm-4 control-label">Server</label>
                <div class="col-sm-8">
                    <select class="form-control" id="destinationServer" ng-model="server" ng-options="s.value as s.type for s in servers"></select>
                    <span class="help-block">Opzione avanzata: seleziona il server al quale tentare registrazione</span>
                </div>
            </div>

            <!-- username -->
            <div class="form-group">
                <label for="inputUsername" class="col-sm-4 control-label">Username</label>
                <div class="col-sm-8">
                    <input
                            type="text"
                            class="form-control"
                            id="inputUsername"
                            placeholder="Username"
                            ng-model="u.username"
                            pattern="[0-9a-zA-Z\.\-\@]{6,20}"
                            required>
                    <span class="help-block">Inserisci dai 6 ai 20 caratteri alfanumerici e/o i caratteri . - @</span>
                </div>
            </div>

            <!-- password -->
            <div class="form-group">
                <label for="inputPwd" class="col-sm-4 control-label">Password</label>
                <div class="col-sm-8">
                    <input
                            type="password"
                            class="form-control"
                            id="inputPwd"
                            name="inputPwd"
                            ng-model="u.password"
                            pattern="[0-9a-zA-A\.\-\@\!\_]{6,20}"
                            required>
                    <span class="help-block">Inserisci dai 6 ai 20 caratteri alfanumerici e/o i caratteri . - @ ! _</span>
                </div>
            </div>

            <!-- password2 -->
            <div class="form-group">
                <label for="inputPwd2" class="col-sm-4 control-label">Verifica password</label>
                <div class="col-sm-8">
                    <input
                            type="password"
                            class="form-control"
                            id="inputPwd2"
                            name="inputPwd2"
                            ng-model="u.password2"
                            valid-password-c
                            required>
                </div>
            </div>

            <!-- email -->
            <div class="form-group">
                <label for="inputEmail" class="col-sm-4 control-label">Email</label>
                <div class="col-sm-8">
                    <input
                            type="email"
                            class="form-control"
                            id="inputEmail"
                            placeholder="mail@example.com"
                            ng-model="u.email"
                            pattern="{6,20}"
                            required>
                    <span class="help-block">Email, dai 6 ai 20 caratteri</span>
                </div>
            </div>

            <!-- name -->
            <div class="form-group">
                <label for="inputName" class="col-sm-4 control-label">Nome</label>
                <div class="col-sm-8">
                    <input
                            type="text"
                            class="form-control"
                            id="inputName"
                            ng-model="u.name"
                            pattern="[a-zA-Z]{2,30}"
                            required>
                    <span class="help-block">Sono ammesse sole lettere, da 2 a 30 caratteri</span>
                </div>
            </div>

            <!-- lastname -->
            <div class="form-group">
                <label for="inputLastname" class="col-sm-4 control-label">Cognome</label>
                <div class="col-sm-8">
                    <input
                            type="text"
                            class="form-control"
                            id="inputLastname"
                            ng-model="u.lastname"
                            pattern="[a-zA-Z]{2,30}"
                            required>
                    <span class="help-block">Sono ammesse sole lettere, da 2 a 30 caratteri</span>
                </div>
            </div>

            <!-- mobile-phone-prefix -->
            <div class="form-group">
                <label for="inputPhonePrefix" class="col-sm-4 control-label">Prefisso internazionale</label>
                <div class="col-sm-8">
                    <select
                            class="form-control"
                            id="inputPhonePrefix"
                            ng-model="phonePrefix"
                            ng-options="p.value as p.text for p in phonePrefixes"></select>
                </div>
            </div>

            <!-- mobile-phone -->
            <div class="form-group">
                <label for="inputPhone" class="col-sm-4 control-label">Cellulare</label>
                <div class="col-sm-8">
                    <input
                            type="tel"
                            class="form-control"
                            id="inputPhone"
                            ng-model="phone"
                            pattern="[0-9]{9,12}"
                            required>
                </div>
            </div>

            <!-- gender -->
            <div class="form-group">
                <label for="inputGender" class="col-sm-4 control-label">Sesso</label>
                <div class="col-sm-8">
                    <select class="form-control" id="inputGender" ng-model="u.gender" ng-options="g.value as g.type for g in genders"></select>
                </div>
            </div>

            <!-- age -->
            <div class="form-group">
                <label for="inputAge" class="col-sm-4 control-label">Età</label>
                <div class="col-sm-8">
                    <input type="number" min="10" max="99" class="form-control" id="inputAge" ng-model="u.age" required>
                </div>
            </div>

            <!-- terms -->
            <div class="form-group">
                <label for="inputRules" class="col-sm-4 control-label">Accetto le <a data-toggle="modal" data-target="#modalConditions">condizioni</a></label>
                <div class="col-sm-8">
                    <input type="checkbox" id="inputRules" ng-model="u.termsTmp" required>
                </div>
            </div>

            <div class="pull-right">

                <!-- submit -->
                <button type="submit" class="btn btn-success">Registrati</button>

                <!-- abort -->
                <a class="btn btn-default" href="#/">Annulla</a>

            </div>

        </form>
    </div>
</div>